#hero-banner {
    position: relative;
    .top-banner {
        position: relative;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: linear-gradient(90deg, #00031c 15.63%, rgba(0, 8, 76, 0) 100%);
        }
        &::after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: -2px;
            height: 250px;
            background: linear-gradient(180deg, #00031c 0%, rgba(0, 51, 111, 0) 100%);
            transform: rotate(180deg);
        }
    }
    .bottom-banner {
        .container {
            padding-top: 200px;
            padding-bottom: 200px;
        }
    }
    .container {
        position: relative;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            width: 1px;
            background-color: #00519c;
            z-index: 2;
        }
    }
    .content-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
    }
    .content {
        max-width: 400px;
        &.large {
            max-width: 550px;
        }
    }
    .desc {
        position: relative;
        &::before {
            content: '';
            position: absolute;
            top: 5px;
            left: -17px;
            bottom: 5px;
            width: 5px;
            background: linear-gradient(#0b3ae2, #2ae390, #f0b919, #fe2924);
            border-radius: 2px;
            z-index: 3;
        }
    }
}

#ecosystem {
    background: url('../images/ecosystem-bg.png');
    background-size: cover;
    @media screen and (min-width: 992px) {
        height: 580px;
    }
    h2 {
        display: inline-block;
        font-weight: 800;
        font-size: 36px;
        font-style: italic;
        // background: linear-gradient(135deg, #0b3ae2, #fe2924, #ffbe00, #2ae390, #fe2924, #2ae390, #0b3ae2);
        padding: 2px;
        border-radius: 10px; /*1*/
        border: 2px solid transparent; /*2*/
        background: linear-gradient(135deg, #0b3ae2, #fe2924, #ffbe00, #2ae390, #fe2924, #2ae390, #0b3ae2) border-box; /*3*/
        -webkit-mask: /*4*/ linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor; /*5'*/
        mask-composite: exclude; /*5*/
        // span {
        //     display: inline-block;
        //     padding: 20px;
        //     background: rgba(196, 196, 196, 0.1);
        //     backdrop-filter: blur(23px);
        //     border-radius: 10px;
        // }
    }
}
